[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
bs4 = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
ipykernel = "*"
plotly = "*"
chart-studio = "*"
seaborn = "*"

[requires]
python_version = "3.7"
