[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipynb-py-convert = "*"

[packages]
requests = "*"
bs4 = "*"
numpy = "*"
pandas = "*"
ipykernel = "*"
plotly = "*"
chart-studio = "*"
seaborn = "*"
scikit-learn = "*"
nbconvert = "*"
jupyter-contrib-nbextensions = "*"
matplotlib = "*"
streamlit = "*"

[requires]
python_version = "3.7"
